/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import url(https://fonts.googleapis.com/css?family=Oswald);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.contenedor {
  max-width: 900px;
  margin: auto; }

header {
  background-color: blue;
  padding: 100px 0; }
  header h1 {
    color: white;
    font-size: 50px;
    font-family: "Oswald", Verdana, Tahoma, sans-serif; }
  header h3 {
    color: yellow;
    font-size: 25px;
    font-family: "Oswald", Verdana, Tahoma, sans-serif; }

#menu-principal {
  background: black;
  padding: 20px 0;
  overflow: auto; }
  #menu-principal h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block; }
  #menu-principal ul {
    float: right; }
    #menu-principal ul li {
      display: inline-block;
      margin: 0 10px; }
      #menu-principal ul li a {
        color: white;
        text-decoration: none;
        font-family: "Oswald", Verdana, Tahoma, sans-serif; }

#productos {
  background: #EEE;
  padding: 50px 0; }
  #productos h2 {
    text-transform: uppercase;
    color: blue;
    text-align: center; }
  #productos article {
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block; }
    #productos article img {
      width: 100%;
      height: 100px; }
    #productos article h3 {
      color: violet;
      text-transform: uppercase;
      font-family: "Oswald", Verdana, Tahoma, sans-serif; }
    #productos article p {
      font-family: "Oswald", Verdana, Tahoma, sans-serif; }
    #productos article a {
      background: green;
      color: white;
      text-decoration: none;
      padding: 5px 20px;
      border-radius: 3px; }

.boton, .boton-linea, .boton-amarillo {
  padding: 18px 25px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.5);
  background: white;
  color: color-texto;
  text-decoration: none;
  font-family: "Oswald", Verdana, Tahoma, sans-serif; }

.boton-rojo {
  @entend .boton;
  background: red;
  color: white; }

.boton-azul {
  @entend .boton;
  background: blue;
  color: white; }

.boton-linea {
  background: none;
  border: 1px solid #333; }

.boton-amarillo {
  background: yellow; }

/*# sourceMappingURL=style.css.map */
